@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url("../../font/ShadowsIntoLightTwo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FingerPaint";
  src: url("../../font/FingerPaint-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
